<div class="dropdown language-switcher-small visible-xs" style="">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
              <img src="img/flags/languages/us.png" /> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu pull-right">
            <li class="disabled"><a href="#"><img src="img/flags/languages/us.png" />　English</a></li>
            <li><a href="#"><img src="img/flags/languages/jp.png" />　日本語</a></li>
            <li><a href="#"><img src="img/flags/languages/id.png" />　Bahasa Indonesia</a></li>
            <li><a href="#"><img src="img/flags/languages/my.png" />　Bahasa Malaysia</a></li>
            <li><a href="#"><img src="img/flags/languages/np.png" />　Nepali</a></li>
            <li><a href="#"><img src="img/flags/languages/ph.png" />　Tagalog</a></li>
            <li><a href="#"><img src="img/flags/languages/vn.png" />　Vietnamese</a></li>
          </ul>
</div>

        <div class="dropdown login-button-small visible-sm visible-xs">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">&nbsp;
                </a>
                <form class="dropdown-menu login-form pull-right">
                    <fieldset>
                        <legend>Member site</legend>
                        <div class="form-group">
                            <input type="text" placeholder="Login" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                        <p class="text-center">
                            <button type="submit" class="btn btn-primary">SIGN IN</button>
                        </p> 
                    </fieldset>   
                </form>
        </div>        