<footer>
    <div class="container">
        <div class="contact-us">
          <div class="part1">&nbsp;</div>
          <div class="part2">
            <a href="#">CONTACT US</a>
          </div>
        </div>
        <p class="links">
          <a href="#">Terms and Conditions</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Statement of Anti-Social Forces</a>
          <a href="#">Remittance Regulations</a>
          <a href="#">Declaration Against Anti-Social Forces</a>
          <a href="#">Electronic Delivery</a>
        </p>
        <p class="legal-information">Brastel Co., Ltd. | 130-0015 Tokyo-to, Sumida-ku, Yokoami 2-6-2 | Copyright ©2011 Brastel Co., Ltd. All rights reserved.</p>
  </div>



</footer>